*.dat
results/	results/
!**/__pycache__/
Outputs/
__pycache__
Regridding/ReadMe.pdf
*.pdf
*desktop.ini
/Notes/*
*.xlsx
*.csv
*.ipynb_checkpoints*
.ipynb_checkpoints
**/*.ipynb_checkpoints/
**/**/*.ipynb_checkpoints/
*.npy
*.png
*.PNG
**/*.png
**/*.PNG
.*  # ignore all hidden files and folders
!/.gitignore  # explicitly do not ignore .gitignore
*.pdn
*.pgw